<%= form_for(@criterion_sub_detail) do |f| %>
    <% if @criterion_sub_detail.errors.any? %>
        <div id="error_explanation">
          <!--<h2><%= pluralize(@criterion_sub_detail.errors.count, "error") %> prohibited this action_plan from being-->
          <!--saved:</h2>-->
          <div class="alert alert-danger">
            <% @criterion_sub_detail.errors.full_messages.each do |message| %>
                <%= message %><br>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="container no-padding">

      <div class="row no-padding">
        <div class="field">
          <%= f.hidden_field :criterion_detail_id, :value => @criterion_detail.id %>
        </div>
        <br>
        <!-- First column -->
        <div class="col-md-5 no-padding">
          <div class="field">
            <%= f.label :action_item, "Action Item" %><br>
            <%= f.text_area :action_item, :required => true, size: "50x3" %>
          </div>

          <div class="field">
            <%= f.label :associated_tasks, "Associated Tasks" %><br>
            <%= f.text_area :associated_tasks, :required => true, size: "50x3" %>
          </div>

          <div class="field">
            <%= f.label :individuals_resp, "Individual(s) Responsible" %><br>
            <%= f.text_area :individuals_resp, :required => true, size: "50x3" %>
          </div>

          <div class="field">
            <%= f.label :other_res_items, "Other Resources/Items" %><br>
            <%= f.text_area :other_res_items, :required => true, size: "50x3" %>
          </div>
        </div>
        <!-- END First column -->

        <!-- Second column -->
        <div class="col-md-5 no-padding">

          <div class="field">
            <%= f.label :cost_amt, "$ Cost Amount (if applicable)" %><br>
            <%= f.text_field :cost_amt, size: "50x1" %>
          </div>
          <div class="field">
            <%= f.label :source_of_funding, "Source of Funding" %><br>
            <%= f.text_area :source_of_funding, :required => true, size: "50x3" %>
          </div>

          <div class="field bottom-padding">
            <%= f.label :proj_start_date, "Projected Start Date" %><br>
            <%= f.date_select :proj_start_date %>
          </div>

          <div class="field bottom-padding">
            <%= f.label :target_comp_date, "Target Date for Completion" %><br>
            <%= f.date_select :target_comp_date %>
          </div>

          <div class="field bottom-padding">
            <%= f.label :current_status, "Current Status as of #{Time.now.strftime("%m/%d/%Y")}" %><br>
            <%= f.text_area :current_status, :required => true, size: "50x3" %>
          </div>

          <%= f.hidden_field :user_id, :value => User.find_by_username(session[:cas_user].to_s).id %>

          <div>
            <%= f.submit class: "btn btn-primary" do %>
                <span></span> <% end %>
          </div>
        </div>
        <!-- END Second column -->

      </div>
    </div>
<% end %>
