<%= form_for(@criterion_sub_detail) do |f| %>
  <% if @criterion_sub_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterion_sub_detail.errors.count, "error") %> prohibited this criterion_sub_detail from being saved:</h2>

      <ul>
      <% @criterion_sub_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field">
    <%# f.label :criterion_detail_id %><br>
    <%# f.text_field :criterion_detail_id %>
  </div>-->
    <div class="field">
      <%= f.hidden_field :criterion_detail_id, :value => @criterion_detail.id %>
    </div>
  <div class="field">
    <%= f.label :action_item %><br>
    <%= f.text_field :action_item %>
  </div>
  <div class="field">
    <%= f.label :associated_tasks %><br>
    <%= f.text_field :associated_tasks %>
  </div>
  <div class="field">
    <%= f.label :individuals_resp %><br>
    <%= f.text_field :individuals_resp %>
  </div>
  <div class="field">
    <%= f.label :other_res_items %><br>
    <%= f.text_field :other_res_items %>
  </div>
  <div class="field">
    <%= f.label :cost_amt %><br>
    <%= f.text_field :cost_amt %>
  </div>
  <div class="field">
    <%= f.label :source_of_funding %><br>
    <%= f.text_field :source_of_funding %>
  </div>
  <div class="field">
    <%= f.label :proj_start_date %><br>
    <%= f.date_select :proj_start_date %>
  </div>
  <div class="field">
    <%= f.label :target_comp_date %><br>
    <%= f.date_select :target_comp_date %>
  </div>
  <div class="field">
    <%= f.label :current_status %><br>
    <%= f.text_field :current_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
