<h1>Action Items:</h1>

<% user = User.find_by_username(session[:cas_user].to_s) %>

<% if !@criterion_sub_details.blank? then %>
    <table class="table table-striped">
      <thead>
      <tr>
        <!--<th>Criterion detail</th>-->
        <th class="show-text-area">Action Item</th>
        <th class="show-text-area">Associated Tasks</th>
        <th class="show-text-area">Individual(s) Responsible</th>
        <th class="show-text-area">Other Resources/Items</th>
        <th>$ Cost Amount (if applicable)</th>
        <th class="show-text-area">Source of Funding</th>
        <th>Projected Start Date</th>
        <th>Target Date for Completion</th>
        <th class="show-text-area">Current status as of <%= Time.now.strftime("%m/%d/%Y") %></th>
        <% if !user.role.eql?("Admin") %>
            <% if !ActionPlan.find_by_user_id(user.id).status.eql?("Complete") then %>
                <th>Action</th>
            <% end %>
        <% end %>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @criterion_sub_details.each do |criterion_sub_detail| %>
          <tr>
            <!--<td><%# criterion_sub_detail.criterion_detail %></td>-->
            <td><%= criterion_sub_detail.action_item %></td>
            <td><%= criterion_sub_detail.associated_tasks %></td>
            <td><%= criterion_sub_detail.individuals_resp %></td>
            <td><%= criterion_sub_detail.other_res_items %></td>
            <td><%= criterion_sub_detail.cost_amt %></td>
            <td><%= criterion_sub_detail.source_of_funding %></td>
            <td><%= criterion_sub_detail.proj_start_date %></td>
            <td><%= criterion_sub_detail.target_comp_date %></td>
            <td><%= criterion_sub_detail.current_status %></td>
            <!--<td><%# link_to 'Show', criterion_sub_detail %></td>-->
            <% if !user.role.eql?("Admin") %>
                <% if !ActionPlan.find_by_user_id(user.id).status.eql?("Complete") then %>
                    <!-- Buttons for Edit and Delete; Hover-over functionality is enabled -->
                    <td><%= link_to edit_criterion_sub_detail_path(criterion_sub_detail), {class: "btn btn-primary btn-sm"} do %>
                          <span class="glyphicon glyphicon-pencil" data-toggle="tooltip" title="Edit"></span> <% end %>
                    </td>
                    <td><%= link_to criterion_sub_detail, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" do %>
                          <span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title="Delete"></span> <% end %>
                    </td>
                    <!--<td><%= link_to 'Edit', edit_criterion_sub_detail_path(criterion_sub_detail), class: "btn", style: 'color: purple;' %></td>-->
                    <!--<td><%= link_to 'Delete', criterion_sub_detail, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn", style: 'color: red;' %></td>-->
                <% end %>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>

<% else %>
    No records.
<% end %>

<script>
  // enables the tooltip
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<br>

<!--<%# link_to 'New Criterion sub detail', new_criterion_sub_detail_path %>-->
