
<h1>Listing Criterion Sub Details</h1>

<table>
  <thead>
    <tr>
      <!--<th>Criterion detail</th>-->
      <th>Action item</th>
      <th>Associated tasks</th>
      <th>Individuals resp</th>
      <th>Other res items</th>
      <th>Cost amt</th>
      <th>Source of funding</th>
      <th>Proj start date</th>
      <th>Target comp date</th>
      <th>Current status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterion_sub_details.each do |criterion_sub_detail| %>
      <tr>
        <!--<td><%# criterion_sub_detail.criterion_detail %></td>-->
        <td><%= criterion_sub_detail.action_item %></td>
        <td><%= criterion_sub_detail.associated_tasks %></td>
        <td><%= criterion_sub_detail.individuals_resp %></td>
        <td><%= criterion_sub_detail.other_res_items %></td>
        <td><%= criterion_sub_detail.cost_amt %></td>
        <td><%= criterion_sub_detail.source_of_funding %></td>
        <td><%= criterion_sub_detail.proj_start_date %></td>
        <td><%= criterion_sub_detail.target_comp_date %></td>
        <td><%= criterion_sub_detail.current_status %></td>
        <!--<td><%# link_to 'Show', criterion_sub_detail %></td>-->
        <td><%= link_to 'Edit', edit_criterion_sub_detail_path(criterion_sub_detail) %></td>
        <td><%= link_to 'Delete', criterion_sub_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%# link_to 'New Criterion sub detail', new_criterion_sub_detail_path %>-->
