
<h1>Listing Units</h1>
<div>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Unit</th>
      <th>College</th>
      <th>Action</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.unit %></td>
        <td><%= unit.college %></td>
        <td><%= link_to 'Edit', edit_unit_path(unit), class: "btn", style: 'color: purple;' %></td>
        <td><%= link_to 'Delete', unit, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn", style: 'color: red;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_unit_path, class: "btn btn-primary" %>
</div>