<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @unit.unit %>
</p>

<p>
  <strong>College:</strong>
  <%= @unit.college %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
