<br>
<div class="container">
  <%= form_for(@action_plan, :html => {:class => 'form-horizontal'}) do |f| %>
      <% if @action_plan.errors.any? %>
          <div id="error_explanation">
            <!--<h2><%= pluralize(@action_plan.errors.count, "error") %> prohibited this action_plan from being-->
              <!--saved:</h2>-->
            <div class="alert alert-danger">
              <% @action_plan.errors.full_messages.each do |message| %>
                  <%= message %><br>
              <% end %>
            </div>
          </div>
      <% end %>

      <div class="form-group">
        <label class="col-xs-2"><%= f.label :unit %></label>

        <div class="col-xs-10"><%= f.collection_select :unit_id, Unit.all, :id, :unit, prompt: true, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"><%= f.label :date_of_site_visit %></label>

        <div class="col-xs-10"><%= f.date_select :date_of_site_visit, :class => "form-control" %></div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"><%= f.label :submitter_first_name %></label>
        <!--<div class="col-xs-10"><%= f.text_field :submitter_first_name, :value => User.find_by_username(session[:cas_user].to_s).first_name, disabled: true %></div>-->
        <div class="col-xs-10"><%= f.text_field :submitter_first_name %></div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"><%= f.label :submitter_last_name %></label>

        <div class="col-xs-10"><%= f.text_field :submitter_last_name %></div>
      </div>

      <div class="form-group">
        <label class="col-xs-2"><%= f.label :submitter_title %></label>

        <div class="col-xs-10"><%= f.select(:submitter_title, ActionPlan::TITLE_TYPES) %></div>
      </div>

      <% if User.find_by_username(session[:cas_user].to_s).role.eql?("Admin") then %>
          <div class="form-group">
            <label class="col-xs-2"><%= f.label :status %></label>
            <div class="col-xs-10"><%= f.select(:status, ActionPlan::STATUS_TYPES) %></div>
          </div>
      <% else %>
          <%= f.hidden_field :status, :value => "Incomplete" %>
      <% end %>

      <% if !User.find_by_username(session[:cas_user].to_s).role.eql?("Admin") then %>
          <%= f.hidden_field :user_id, :value => User.find_by_username(session[:cas_user].to_s).id %>
      <% end %>
      <br>
      <br>

      <div class="actions">
        <%= f.submit :class => 'btn btn-primary' %>

      <% if session[:cas_user].to_s.eql?(User.find_by_username(session[:cas_user].to_s).username) && User.find_by_username(session[:cas_user].to_s).role.to_s.eql?("Admin") then %>
          <%= link_to 'Back', action_plans_path, class: "btn btn-primary" %>
      <% end %>
      </div>
  <% end %>
</div>