<%= form_for(@criterion) do |f| %>

    <% if @criterion.errors.any? %>
        <div id="error_explanation">
          <!--<h2><%= pluralize(@criterion.errors.count, "error") %> prohibited this action_plan from being-->
          <!--saved:</h2>-->
          <div class="alert alert-danger">
            <% @criterion.errors.full_messages.each do |message| %>
                <%= message %><br>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :criterion_number %><br>
      <%= f.number_field :criterion_number %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, :required => true %>
    </div>
    <div class="field">
      <%= f.label :field1, "Field 1 Text" %><br>
      <%= f.text_area :field1, size: "50x5" %>
    </div>
    <div class="field">
      <%= f.label :field2, "Field 2 Text" %><br>
      <%= f.text_area :field2, size: "50x5" %>
    </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to 'Back', criterions_path, class: "btn btn-primary" %>
  </div>
<% end %>
