
<h1>Listing Criterions</h1>
<div>
<table class= "table table-striped">
  <thead>
    <tr>
      <th>Criterion number</th>
      <th>Description</th>
      <th>Field 1 Text</th>
      <th>Field 2 Text</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @criterions.each do |criterion| %>
      <tr>
        <td><%= criterion.criterion_number %></td>
        <td><%= criterion.description %></td>
        <td><%= criterion.field1 %></td>
        <td><%= criterion.field2 %></td>
        <!--<td><%= link_to 'Show', criterion, class: "btn" %></td>-->
        <td><%= link_to 'Edit', edit_criterion_path(criterion), class: "btn", style: 'color: purple;' %></td>
        <td><%= link_to 'Delete', criterion, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn", style: 'color: red;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to 'New Criterion', new_criterion_path, class: "btn btn-primary" %>


</div>
