<!-- Upload Attachment Sections -->
<br>
<%= form_for(@criterion_file) do |f| %>
    <% if @criterion_file.errors.any? %>
        <div id="error_explanation">
          <!--<h2><%= pluralize(@criterion_file.errors.count, "error") %> prohibited this action_plan from being-->
          <!--saved:</h2>-->
          <div class="alert alert-danger">
            <% @criterion_file.errors.full_messages.each do |message| %>
                <%= message %><br>
            <% end %>
          </div>
        </div>
    <% end %>

    <div class="field">
      <%= f.hidden_field :criterion_detail_id, :value => @criterion_detail.id %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%# f.text_field :name, :value => :attachment.to_s, disabled: true %>
      <%= f.text_field :name, :required => true %>
    </div>
    <div class="field">
      <%= f.label :attachment %><br>(Only .pdf .doc .docx .xls .xlsx documents can be uploaded.)
      <%= f.file_field :attachment, :required => true %>
    </div>
    <%= f.hidden_field :user_id, :value => User.find_by_username(session[:cas_user].to_s).id %>
<br>
    <!--Upload Buttom -->
    <div class="actions">
      <%= f.submit class: "btn btn-primary", :value => "Upload file" do %>
          <span></span>
      <% end %>
    </div>

<% end %>
