<!DOCTYPE html>
<html>
<head>
  <title>Academic Program Review</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'home', media: 'all' %> <!-- home.scss -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= favicon_link_tag 'assets/favicon.ico' %>
<!-- Navigation Bar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin: 0px;">

  <div class="container-fluid">
    <!-- Navigation bar Header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar-apr-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">University of New Mexico</a>
    </div>

    <!--<div class="navbar-header navbar-right">-->
    <div class="collapse navbar-collapse navbar-right" id="nav-bar-apr-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Signed in as <%= session[:cas_user] %>. Not you?</a></li>
              <li><%= link_to("Sign Out", logout_path) %></li>
            </ul>
    </div>
  </div>

</div>
<br><br>
<!-- Page Header -->
<div class="page-header no-padding">
  <div class="container">
    <img src="/assets/banner.jpg" class="img-responsive full-width">
  </div>
</div>
<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>
<!-- Main Content -->
<div id="content">
  <%= render template:'home/index' %>
</div>
<br><br>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Physical Address</h4>
        Scholes Hall
        <br>
        Room 240
        <br>
        Phone: (505) 277-4130
        <br>
        Fax: (505) 277-8275
        <br>
        Email:
        <a href="mailto:apr@unm.edu">apr@unm.edu</a>
      </div>
      <div class="col-sm-4">
        <h4>Mailing Address</h4>
        Academic Program Review
        <br>
        MSC05 3400
        <br>
        1 University of New Mexico
        <br>
        Albuquerque, NM 87131-0001
      </div>
      <div class="col-sm-4">
        <p>
          <a href="http://unm.edu"></a>
          <img src="https://webcore.unm.edu/v2/images/unm-transparent-white.png" alt="The University of New Mexico">
        </p>
        <small>
          Albuquerque, NM 87131, (505) 277-0111
          <br>
          New Mexico's Flagship University
        </small>
      </div>
    </div>
  </div>
</div>
</body>
</html>


<!--

<div id="content">
  < #%= render template:'home/index' %>
</div>
<br><br>4
 <div id="navbar" class="navbar-collapse collapse">
          <#% if session[:cas_user].to_s == User.find_by_username(session[:cas_user].to_s) && User.find_by_username(session[:cas_user].to_s).role.to_s == "Admin" then %>
              <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
              </ul>
          <#% else %>
              <ul class="nav navbar-nav">
                <li><#%= link_to("Home", home_index_path) %></li>
                <li><#%= link_to("APR Reports", action_plans_path) %></li>
                <li><a href="/criterions/">Criteria</a></li>
                <li><a href="#">Signed in as<#%= session[:cas_user] %>. Not you?</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>
          <#% end %>

##Page Header
<div class="page-header no-margin no-padding">
  <div class="container">
    <img src="/assets/banner.jpg" class="img-responsive full-width">
  </div>
</div>

-->