<!DOCTYPE html>
<html>
<head>
  <title>Apr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="logged-in">
  Signed in as <SPAN id="top-username"> <%= session[:cas_user] %></SPAN>. Not you?
  <a href="/logout">Sign out</a>
</div>
<div id="wrapper">
  <div id="head">
    <div id="banner">
      <img src="/assets/banner.jpg" />
    </div>
    <div id="navigation">
      <% if session[:cas_user].to_s == User.find_by_username(session[:cas_user].to_s) && User.find_by_username(session[:cas_user].to_s).role.to_s == "Admin" then %>
        <ul>
          <li><%= link_to("Home", home_index_path) %></li>
          <li><%= link_to("APR Reports", action_plan_path) %></li>
          <li><%= link_to("Criteria", criterions_path) %></li>
          <li><a href="/criterions/">Criteria</a></li>
          <li><a href="/admin/users/">Users</a></li>
          <li><a href="/user_roles/">Roles</a></li>
          <li><a href="/units/">Units</a></li>
          <li><a href="/colleges/">Colleges</a></li>
          <li><a href="/milestones/">Milestones</a></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to("Home", home_index_path) %></li>
          <li><%= link_to("APR Reports", action_plans_path) %></li>
          <li><%= link_to("Criteria Details", criterion_details_path) %></li>
        </ul>
      <% end %>
      <br class="clear"/>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
