<%= form_for(@criterion_detail) do |f| %>
  <% if @criterion_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@criterion_detail.errors.count, "error") %> prohibited this criterion_detail from being saved:</h2>

      <ul>
      <% @criterion_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :action_plan_id %><br>
    <%= f.text_field :action_plan_id %>
  </div>
  <div class="field">
    <%= f.label :criterion_id %><br>
    <%= f.text_field :criterion_id %>
  </div>
  <div class="field">
    <%= f.label :cd_date1 %><br>
    <%= f.date_select :cd_date1 %>
  </div>
  <div class="field">
    <%= f.label :cd_date2 %><br>
    <%= f.date_select :cd_date2 %>
  </div>
  <div class="field">
    <%= f.label :cd_field1 %><br>
    <%= f.text_field :cd_field1 %>
  </div>
  <div class="field">
    <%= f.label :cd_field2 %><br>
    <%= f.text_field :cd_field2 %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_field :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
